[submodule "demucs"]
	path = demucs
	url = https://github.com/ExodusOfGraf/docker-facebook-demucs.git

[submodule "historical-denoise"]
	path = historical-denoise
	url = https://github.com/ExodusOfGraf/historical-denoise.git

[submodule "whisperDocker"]
	path = whisperDocker
	url = https://github.com/ExodusOfGraf/whisperDocker.git
