**/.dockerignore
**/.env
**/.git
**/.gitignore
**/.project
**/.settings
**/.toolstarget
**/.vs
**/.vscode
**/.idea
**/*.*proj.user
**/*.dbmdl
**/*.jfm
**/azds.yaml
**/bin
**/charts
**/docker-compose*
**/Dockerfile*
**/node_modules
**/npm-debug.log
**/obj
**/secrets.dev.yaml
**/values.dev.yaml
LICENSE
README.md


# Игнорировать вывод сборки
**/bin/
**/obj/

# Игнорировать специфичные для IDE и ОС файлы
.vs/
.vscode/
*.suo
*.user
*.sln.docstates

# Игнорировать файлы Docker и Git
.git/
.gitignore
.dockerignore
Dockerfile
docker-compose*.yml

# Игнорировать другие файлы
README.md